<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Serviços</title>

    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <script src="../../bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->

    <link rel="stylesheet" type="text/css" href="../../css/style_form.css">
    <link rel="shortcut icon" href="../../img/favicon_io/favicon.ico" type="image/x-icon">
</head>
<body>
    
    <header>

        <div id="logo">
            <img src="../../img/logo7timos.png">
        </div>
        <h1>Barbearia 7timos</h1>

    </header>

    <article>

        <form method="post" action="../../../model/painel/servico/excluirservicobd.php">
            <h2>Excluir Serviços</h2>

            <input name="codServ" type="number" id="codServ" placeholder="Codigo do Serviço" required />
    
            <button type="submit">excluir</button>

        </form>

    </article>

</body>
</html>